﻿body {margin:0;padding:0;background:#ecb978}
.main {width:1000px;min-height:1000px;background: #fff;margin:0 auto;padding:0 1px}
.head {width:1000px; height:160px;background:url(images/banner.png)}
.menu {width:1000px; height:30px; background:url(images/bg-menu.png)}
.menu1 {float:left; width:120px;height:28px;background:#fb9c05;border:1px solid #030303;margin-right:3px  }
.content {width:1000px; min-height:800px;background:#fff}
.content-left {float:left; width:700px;min-height:300px;background:#f00}
.content-right {float:right; width:300px;min-height:300px;background:#b6ff00}
.content-bottom {width:1000px; height:100px;background:url(images/bg-fooder.png) repeat-x}
.box-home1 {float:left; width:305px;height: 300px;background:#fff;border:1px solid #030303;border-radius:10px;margin-left:5px;margin-right:2px}
.box-home2 {float:right; width:370px;height:300px;background:#fff;border:1px solid #030303;border-radius:10px;margin-right:5px}
.box-home3 {float:left; width:305px;height:300px;background:#fff;border:1px solid #030303;border-radius:10px;margin-left:5px; margin-right:2px}
.box-home4 {float:right; width:370px;height:300px;background:#fff;border:1px solid #030303;border-radius:10px;margin-right:5px}
.box-home5 { width:285px;height:200px;background:#fff;border:1px solid #030303;border-radius:10px;margin-left:5px;margin-right:5px}
.box-home6 { width:700px;height:300px;background:url(images/QC1.png)}
.box-tin {width:685px; height:300px;border:1px solid #030303; border-radius:10px;background:#fff;margin-left:5px;margin-top:2px}
.tieude1 {float:left; width:200px;height:50px;background:url(images/bg-tieude.png) repeat-x}