﻿@model Blog.Models.Comment
<h3>--------------------------------------------------------------------------------------------</h3>
<h3>Add Comment</h3>

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new {id ="my-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>

        
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>
                     @Html.Hidden("idpost", ViewData["idpost"])
        <p>
            <input type="submit" value="Comment" />
        </p>
    </fieldset>
}
                <script src="~/Scripts/addComments.js"></script>