﻿@{
    ViewBag.Title = "BangXepHang";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>BangXepHang</h2>
<p>Danh sách những thành viên nổi bật trong tháng.</p>
@Html.ActionLink("Quay về trang chủ","Default","Default")
