﻿@{
    ViewBag.Title = "DangKi";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>DangKi</h2>
<p>Đăng kí tài khoản tại đây.</p>
@Html.ActionLink("Quay về trang chủ","Default","Default")
<div class="box-tin"></div>
