﻿@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}
@section featured {
    <section class="featured">
        
<link href="~/Content/ddlevelsmenu-topbar.css" rel="stylesheet" />
<script src="~/Scripts/ddlevelsmenu.js"></script>


<div class="content-left">
    <div class="box-home6">
        @Html.ActionLink("Tham gia ngay!","DangKi","Default")
       
    </div>
    <div class="box-home1"> 
        <div class="tieude1">
            <h2>@Html.ActionLink("Sổ thu chi của bạn","SoThuChi","Default")</h2>
        </div>
    </div>
    <div class="box-home2">
        <div class="tieude1">
            <h2>@Html.ActionLink("Tin kinh tế","TinKinhTe","Default")</h2>
            </div>
    </div>
    <div class="box-home3">
        <div class="tieude1">
            <h2>@Html.ActionLink("Tư vấn chi tiêu","TuVanChiTieu","Default")</h2>
            </div>
    </div>
    <div class="box-home4">
        <div class="tieude1">
        <h2>@Html.ActionLink("Tin khuyến mãi","TinKhuyenMai","Default")</h2>
            </div>
    </div>
    
</div>
            
        </section>
    }



   
