﻿@{
    ViewBag.Title = "PhanTichChiTieu";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>PhanTichChiTieu</h2>
<p>Phân tích tình hình thu chi của bạn.</p>
@Html.ActionLink("Quay lại trang chủ","Default","Default")
