﻿@{
    ViewBag.Title = "TinKhuyenMai";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>TinKhuyenMai</h2>
<p>Thông tin khuyến mãi, giảm giá.</p>
@Html.ActionLink("Quay về trang chủ","Default","Default")
