﻿@{
    ViewBag.Title = "TinKinhTe";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>TinKinhTe</h2>
<p>Đây là nội dung trang TinKinhTe</p>
@Html.ActionLink("Quay về trang chủ","Default","Default")
<div class="box-tin"></div>
