﻿@{
    ViewBag.Title = "TuVanChiTieu";
    Layout = "~/Views/Shared/Default.cshtml";
}

<h2>TuVanChiTieu</h2>
<p>Tư vấn tình hình thu chi của bạn.</p>
@Html.ActionLink("Quay về trang chủ","Default","Default")
