﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
     <title>@ViewBag.Title - MyFinancial</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
            @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
     <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/ddlevelsmenu-topbar.css" rel="stylesheet" />
    <link href="~/Content/ddlevelsmenu-base.css" rel="stylesheet" />
    <script src="~/Scripts/ddlevelsmenu.js"></script>
   
</head>

<body>




    <div class="main">
        <div class="head">
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Default", "Default")</p>
                   
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    
                </div>
            </div>
        </div>

       

        <div class="menu">
            <div id="ddtopmenubar" class="mattblackmenu">
                <ul>
                <li><a href="http://localhost:11191/">Trang Chủ</a></li>
                <li><a href="http://localhost:11191/Default/GhiChep" rel="ddsubmenu1">Ghi Chép</a></li>
                <li><a href="http://localhost:11191/Default/TinhHinhThuChi" rel="ddsubmenu2">Tình Hình Thu Chi</a></li>
                <li><a href="http://localhost:11191/Default/PhanTichChiTieu">Phân tích chi tiêu</a></li>
                <li><a href="http://localhost:11191/Default/GioiThieu">Giới thiệu</a></li>
                <li><a href="http://localhost:11191/Default/LienHe">Liên hệ</a></li>
                </ul>
            </div>
        </div>
         
        <div class="content">
           
            <div class="content-left">
                @RenderSection("featured", required: false)
                
                @RenderBody()
                
            
            </div>
            <div class="content-right">
                <div class="box-home5">
                    <h2>@Html.ActionLink("Bảng xếp hạng","BangXepHang","Default")</h2>
                </div>
            </div>
        </div>
        <div class="content-bottom"></div>
    </div>
     @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
